@import url("./layout.css");
@import url("./common.css");
@import url("./card.css");
@import url("./footer.css");
@import url("./message.css");

.right-menu-container{
  width: 280px;
  position: relative;
  float: right;
}
.right-menu-container .user-action-statistic{
  font-size: 0;
  padding-top: 15px;
}
.user-action-statistic li{
  display: inline-block;
  font-size: 12px;
  width: 25%;
  text-align: center;
}
.user-action-statistic .statistic-text{
  margin-top: 10px;
}
